.healthImage {
    width: 24px;
    height: 24px;
}

.building {
    float: right;
    animation: blink 3s linear infinite;
}

.jobsContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.valigncenter {
    align-items: center;
    display: inline-flex;
}

.buildButton {
    padding: 0 !important; 
    height: 24px !important;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .8;}
    100%{opacity: .1;}
}