.closeButton {
    position: relative;
    float: right;
    padding: 4px 8px !important;
    background: transparent !important;
    border-color: transparent !important;
}

.cardTitle {
    display: inline-block;
    width: 85%;
    word-break: break-all;
}

.urlCard {
    margin-bottom: 16px;
}

.urlContent {
    padding-top: 16px;
}

.errorText {
    margin: 0px !important;
}